.link-list-post-selector-block {
	display: grid;
}

.link-list-post-selector-block-new {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-gap: 1rem;
	align-items: center;
}

.link-list-post-selector-block-new .link-list-label {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	margin-bottom: calc(8px);
	padding: 0;
}

.link-list-post-selector-block-new .block-editor-link-control__field {
	margin: 0;
}

.link-list-button {
	margin: 0 auto;
	background-color: #f00;
	color: #fff !important;
}

.link-list-post-selector-block-list-container > div {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 200px 1fr 40px;
	align-items: center;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
}

.link-list-post-selector-block-list-container > div > p {
	text-align: center;
}

.block-editor-link-control__search-results-wrapper {
	background-color: #fafafa;
	border-radius: 0 0 1rem 1rem;
	margin-top: 1rem;
}

.block-editor-link-control__search-item.is-current {
	background-color: #fafafa;
	border-radius: 1rem;
	padding: 1rem 0;
	margin: 1rem 0;
}

.link-list-note {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 2rem;
}


@media (max-width: 992px) {
	.link-list-post-selector-block-new {
		grid-template-columns: 1fr;
	}
	
	.link-list-post-selector-block-list-container > div {
		line-break: anywhere;
	}
}