.link-list-post-list {
	margin: 5rem 4rem;
}

.link-list-post-container > a {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 2rem 0;
	gap: 4rem;
	text-align: center;

}

.link-list-post-container > a.border {
	border-top: 2px solid #eee;
}

.link-list-post-container > a > img {
	max-width: 80%;
	margin: auto;
	height: auto;
	max-height: 18vh;
	padding: 1rem 0;
}

.link-list-post-container > a > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.link-list-post-container-alt:nth-child(even) > a > div {
	order: -1;
}


@media (prefers-color-scheme: dark) {
	.link-list-post-container > a.border {
		border-color: #666;
	}
}


@media (max-width: 992px) {
	.link-list-post-list {
		margin-left: 0;
		margin-right: 0;
	}

	.link-list-post-container > a {
		grid-template-columns: 1fr;
		gap: 0;
	}

	.link-list-post-container > a > div {
		text-align: center;
	}

	.link-list-post-container-alt:nth-child(even) > a > div {
		order: 1;
	}
}